@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* remove auto padding and margin */
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-shadow: 0 0 20px rgb(123, 255, 244);
    font-family: Playball;
}

p {
    text-shadow: 0 0 6px rgb(0, 0, 0);
    font-style: italic;
}

/* display items with flex, center horizontally and vertically */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* display items with flex, arrange vertically */
.vertical-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* icon card */
.card {
    width: 35px;
    cursor: pointer;
}

/* slider styles */
.slider {
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

/* main div container .aka drop zone */
#main-div {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

/* audio player div container .aka card*/
#audio-player-div {
    width: 500px;
    background-color: rgb(13, 78, 118);
    color: rgb(243, 245, 255);
    font-size: large;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(123, 255, 244);
    height: 300px;
    margin-top: 10px;
}

/* song cover image style */
#cover-img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    padding: 10px;
}

#item {
    position: relative;
    cursor: grab;
}
